@use "../../styles/breakpoints.scss" as *;

// .cards-wrapper {
    .block.cards {
        > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
            grid-gap: 24px;
        }

        .cards-card-body {
            margin: 16px;

            [data-aue-label*="Title"] {
                color: var(--color-trex-green);
                text-transform: uppercase;
                letter-spacing: 1px;
                margin: 5px 0;
            }

            [data-aue-label*="Body"] {
                padding: 0;
            }
        }

        .cards-card-image {
            line-height: 0;
        }
        // --------------------------------------------
        // Style - Cards Icon Image
        // --------------------------------------------
        &.cards-block-icon-image {
            > ul > li img {
                width: 88px;
            }
        }

        // --------------------------------------------
        // Style - Cards Block Callout
        // --------------------------------------------
        &.cards-block-callout {
            ul {
                grid-template-columns: 1fr;

                @media (width >= $breakpoint-lg) {
                    grid-template-columns: repeat(3, 1fr);
                }

                li {
                    display: flex;
                    flex-direction: column;
                    background: var(--color-white-smoke);
                    padding: 28px 24px;

                    @media (width >= $breakpoint-lg) {
                        padding: 18px;
                    }

                    .cards-card-image {
                        order: 2;
                        padding-bottom: 16px;

                        img {
                            width: 80%;
                        }
                    }

                    .cards-card-body {
                        p {
                            color: var(--color-trex-green);
                            text-transform: uppercase;
                        }

                        &:nth-child(2) {       
                            margin: 0;

                            p {
                                font-size: 14px;
                                font-weight: 600;
                                letter-spacing: 1px;
                                padding-bottom: 20px;
                                margin: 0;

                                &:before,
                                &:after {
                                    content: "—";
                                    color: var(--color-accent-green);
                                    font-size: 14px;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                    padding: 0 5px;
                                }
                            }
                        }

                        &:last-of-type {
                            order: 3;
                            margin: auto;

                            @media (width >= $breakpoint-xl) {
                                width: 60%;
                            }

                            p {
                                font-size: 32px;
                                font-weight: 600;
                                margin: 0 auto;
                            }
                            .button-container a {
                                color: unset;
                                font-weight: unset;
                                background: unset;
                                text-overflow: unset;
                                white-space: unset;
                                padding: 0;
                                border: none;
                                margin: 0;
                                overflow: visible;
                                overflow-wrap: normal;

                            }
                        }
                    }
                }
            }
        }

        // --------------------------------------------
        // Style - Conversion CTA
        // --------------------------------------------
        &.cards-block-conversion-cta {
            text-align: center;

            ul {
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;

                @media (width >= $breakpoint-lg) {
                    justify-content: center;
                    flex-wrap: nowrap;
                }

                > * {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 46%;

                    @media (width >= $breakpoint-lg) {
                        flex-basis: 25%;
                    }
                }

                > :first-child {
                    flex-basis: 100%;

                    @media (width >= $breakpoint-lg) {
                        flex-basis: 50%;
                    }

                    .cards-card-body {
                        order: 1;
                    }

                    > div:nth-child(2) {
                        p {
                            font-size: 60px;
                            font-weight: 300;
                            text-transform: unset;
                            margin-bottom: 0;
                            color: var(--color-trex-green);
                        }
                    }

                    .cards-card-image {
                        order: 2;
                        max-width: unset;
                        margin: 0;

                        img {
                            max-width: 500px;
                            width: 500px;
                        }
                    }
                }

                // > :nth-child(2) {
                //     border-right: 1px solid #333;
                // }
            }

            .cards-card-image {
                max-width: 137px;
                margin: 0 auto 40px;
            }

            .cards-card-body {
                margin: 0;

                .button-container {
                    margin: 0;

                    a {
                        color: var(--color-trex-green);
                        background: unset;
                        font-size: 16px;
                        font-weight: 700;
                        letter-spacing: 1px;
                        text-decoration: underline;
                        text-underline-offset: 6px;
                        padding: 0 0 6px 0;
                        margin: 0;
                        text-transform: uppercase;

                    }
                }
            }
        }
    }
// }
