@charset "UTF-8";
.block.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}
.block.cards .cards-card-body {
  margin: 16px;
}
.block.cards .cards-card-body [data-aue-label*=Title] {
  color: var(--color-trex-green);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px 0;
}
.block.cards .cards-card-body [data-aue-label*=Body] {
  padding: 0;
}
.block.cards .cards-card-image {
  line-height: 0;
}
.block.cards.cards-block-icon-image > ul > li img {
  width: 88px;
}
.block.cards.cards-block-callout ul {
  grid-template-columns: 1fr;
}
@media (width >= 992px) {
  .block.cards.cards-block-callout ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
.block.cards.cards-block-callout ul li {
  display: flex;
  flex-direction: column;
  background: var(--color-white-smoke);
  padding: 28px 24px;
}
@media (width >= 992px) {
  .block.cards.cards-block-callout ul li {
    padding: 18px;
  }
}
.block.cards.cards-block-callout ul li .cards-card-image {
  order: 2;
  padding-bottom: 16px;
}
.block.cards.cards-block-callout ul li .cards-card-image img {
  width: 80%;
}
.block.cards.cards-block-callout ul li .cards-card-body p {
  color: var(--color-trex-green);
  text-transform: uppercase;
}
.block.cards.cards-block-callout ul li .cards-card-body:nth-child(2) {
  margin: 0;
}
.block.cards.cards-block-callout ul li .cards-card-body:nth-child(2) p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 20px;
  margin: 0;
}
.block.cards.cards-block-callout ul li .cards-card-body:nth-child(2) p:before, .block.cards.cards-block-callout ul li .cards-card-body:nth-child(2) p:after {
  content: "—";
  color: var(--color-accent-green);
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0 5px;
}
.block.cards.cards-block-callout ul li .cards-card-body:last-of-type {
  order: 3;
  margin: auto;
}
@media (width >= 1200px) {
  .block.cards.cards-block-callout ul li .cards-card-body:last-of-type {
    width: 60%;
  }
}
.block.cards.cards-block-callout ul li .cards-card-body:last-of-type p {
  font-size: 32px;
  font-weight: 600;
  margin: 0 auto;
}
.block.cards.cards-block-callout ul li .cards-card-body:last-of-type .button-container a {
  color: unset;
  font-weight: unset;
  background: unset;
  text-overflow: unset;
  white-space: unset;
  padding: 0;
  border: none;
  margin: 0;
  overflow: visible;
  overflow-wrap: normal;
}
.block.cards.cards-block-conversion-cta {
  text-align: center;
}
.block.cards.cards-block-conversion-cta ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
@media (width >= 992px) {
  .block.cards.cards-block-conversion-cta ul {
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.block.cards.cards-block-conversion-cta ul > * {
  display: flex;
  flex-direction: column;
  flex-basis: 46%;
}
@media (width >= 992px) {
  .block.cards.cards-block-conversion-cta ul > * {
    flex-basis: 25%;
  }
}
.block.cards.cards-block-conversion-cta ul > :first-child {
  flex-basis: 100%;
}
@media (width >= 992px) {
  .block.cards.cards-block-conversion-cta ul > :first-child {
    flex-basis: 50%;
  }
}
.block.cards.cards-block-conversion-cta ul > :first-child .cards-card-body {
  order: 1;
}
.block.cards.cards-block-conversion-cta ul > :first-child > div:nth-child(2) p {
  font-size: 60px;
  font-weight: 300;
  text-transform: unset;
  margin-bottom: 0;
  color: var(--color-trex-green);
}
.block.cards.cards-block-conversion-cta ul > :first-child .cards-card-image {
  order: 2;
  max-width: unset;
  margin: 0;
}
.block.cards.cards-block-conversion-cta ul > :first-child .cards-card-image img {
  max-width: 500px;
  width: 500px;
}
.block.cards.cards-block-conversion-cta .cards-card-image {
  max-width: 137px;
  margin: 0 auto 40px;
}
.block.cards.cards-block-conversion-cta .cards-card-body {
  margin: 0;
}
.block.cards.cards-block-conversion-cta .cards-card-body .button-container {
  margin: 0;
}
.block.cards.cards-block-conversion-cta .cards-card-body .button-container a {
  color: var(--color-trex-green);
  background: unset;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: underline;
  text-underline-offset: 6px;
  padding: 0 0 6px 0;
  margin: 0;
  text-transform: uppercase;
}
