.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

/* .cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--color-white);
} */

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 88px;
}

.cards .cards-card-body [data-aue-label*="Title"] {
  color: var(--color-trex-green);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px 0;
}

.cards .cards-card-body [data-aue-label*="Body"] {
  padding: 0;
}
