@use "../../styles/breakpoints.scss" as *;
// sass blocks/cards/cards.scss blocks/cards/cards.css --no-source-map

.cards-wrapper {
    .block.cards {
        // --------------------------------------------
        // Default
        // --------------------------------------------
        > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
            grid-gap: 24px;
        }

        .cards-card-body {
            margin: 16px;

            [data-aue-label*="Title"] {
                color: var(--color-trex-green);
                text-transform: uppercase;
                letter-spacing: 1px;
                margin: 5px 0;
            }

            [data-aue-label*="Body"] {
                padding: 0;
            }
        }

        .cards-card-image {
            line-height: 0;
        }
        // --------------------------------------------
        // Style - Cards Icon Image
        // --------------------------------------------
        &.cards-block-icon-image {
            > ul > li img {
                width: 88px;
            }
        }

        // --------------------------------------------
        // Style - Cards Block Callout
        // --------------------------------------------
        &.cards-block-callout {
            ul {
                grid-template-columns: 1fr;

                @media (width >= $breakpoint-lg) {
                    grid-template-columns: repeat(3, 1fr);
                }

                li {
                    display: flex;
                    flex-direction: column;
                    background: var(--color-white-smoke);
                    padding: 28px 24px;

                    @media (width >= $breakpoint-lg) {
                        padding: 18px;
                    }

                    .cards-card-image {
                        order: 2;
                        padding-bottom: 16px;

                        img {
                            width: 80%;
                        }
                    }

                    .cards-card-body {
                        p {
                            color: var(--color-trex-green);
                            text-transform: uppercase;
                        }

                        &:nth-child(2) {       
                            margin: 0;

                            p {
                                font-size: 14px;
                                font-weight: 600;
                                letter-spacing: 1px;
                                padding-bottom: 20px;
                                margin: 0;

                                &:before,
                                &:after {
                                    content: "—";
                                    color: var(--color-accent-green);
                                    font-size: 14px;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                    padding: 0 5px;
                                }
                            }
                        }

                        &:last-of-type {
                            order: 3;
                            margin: auto;

                            @media (width >= $breakpoint-xl) {
                                width: 60%;
                            }

                            p {
                                font-size: 32px;
                                font-weight: 600;
                                margin: 0 auto;
                            }
                            .button-container a {
                                color: unset;
                                font-weight: unset;
                                background: unset;
                                text-overflow: unset;
                                white-space: unset;
                                padding: 0;
                                border: none;
                                margin: 0;
                                overflow: visible;
                                overflow-wrap: normal;

                            }
                        }
                    }
                }
            }
        }
    }
}
