@use "../../styles/breakpoints.scss" as *;
// sass blocks/quote/quote.scss blocks/quote/quote.css --no-source-map

.quote-wrapper {
    .block.quote {
        background-color: var(--color-white-smoke);
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: left;
        padding: 50px 100px;
        margin: 1rem 0;

        blockquote {
            font-size: 32px;
            margin: 0;

            &:before {
                content: "“";
                color: var(--color-trex-green);
                font-size: 100px;
                font-weight: 700;
                line-height: 1;
                position: absolute;
                top: -20px;
                left: -80px;
            }
        }
    }
}

.block.quote > div:last-child > div {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 5px;
    /* margin: 0 16px; */
    /* font-size: small; */
    /* font-style: italic; */
    /* position: relative; */
}

.block.quote > div:last-child > div::before {
    content: "-";
    display: inline-block;
    /* position: absolute; */
    /* left: 0; */
    /* bottom: -8px; */
    /* height: 5px; */
    /* width: 30px; */
    /* background-color: darkgray; */
}