@use "../../styles/breakpoints.scss" as *;
// sass blocks/quote/quote.scss blocks/quote/quote.css --no-source-map

.quote-wrapper {
    .block.quote {
        background-color: var(--color-white-smoke);
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: left;
        padding: 50px 100px;
        margin: 1rem 0;

        blockquote {
            font-size: 21px;
            position: relative;
            margin: 0;

            @media (width >= $breakpoint-lg) {
                font-size: 32px;
            }

            &:before {
                content: "“";
                color: var(--color-trex-green);
                font-size: 100px;
                font-weight: 700;
                line-height: 1;
                position: absolute;
                top: -10px;
                left: -80px;
            }
        }

        > div:last-child > div {
            display: inline-flex;
            align-items: center;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            padding-top: 5px;
            
            @media (width >= $breakpoint-lg) {
                font-size: 16px;
            }

            &:before {
                content: "-";
                font-size: 14px;

                @media (width >= $breakpoint-lg) {
                    font-size: 16px;
                }
            }

            p {
                margin: 0;
            }
        }
    }

}
