.block.quote {
    background-color: #f8f8f8;
    padding: 0 0 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1rem 0;
}

.block.quote blockquote {
    margin: 16px;
    text-indent: 0;
}

.block.quote > div:last-child > div {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 5px;
    /* margin: 0 16px; */
    /* font-size: small; */
    /* font-style: italic; */
    /* position: relative; */
}

.block.quote > div:last-child > div::before {
    content: "-";
    display: inline-block;
    /* position: absolute; */
    /* left: 0; */
    /* bottom: -8px; */
    /* height: 5px; */
    /* width: 30px; */
    /* background-color: darkgray; */
}