@use "../../styles/breakpoints.scss" as *;

.accordion-wrapper {
    .accordion {
        > div:first-child {
            p {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: var(--color-trex-green);
                font-weight: 600;
                line-height: 1.33;
                cursor: pointer;

                &:after {
                    content: '';
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: url('../../icons/icon-arrow-up.png') no-repeat center;
                    background-size: contain;
                    rotate: 180deg;
                }
            }
        }

        &.open {
            > div:first-child {
                p {
                    &:after {
                        content: '';
                        rotate: unset;
                    }
                }
            }
        }

        .accordion-body {
            display: none;
            font-size: 18px;
            margin-top: 8px;
            padding-left: 10px;
        }

        // Navigation Targt
        // > div:first-child {
        //     p {

        //     }
        // }
    }
}

/* Utility Navigation */
main {
    > div:first-child {

        &.section.fragment-container {
            .fragment-wrapper {
                padding: 58px 0 0;

                > div {
            width: 100%;
            margin: 0 auto;
            
            display: none;

            @media (width >= $breakpoint-md) {
                max-width: 720px;
            }

            @media (width >= $breakpoint-lg) {
                max-width: 960px;
                display: flex;
            }

            // @media (width >= $breakpoint-xl) {
            //     max-width: 1000px;
            // }

            // @media (width >= $breakpoint-xxl) {
            //     max-width: 1000px;
            // }

            > .accordion-wrapper {
                padding: 35px 0 25px;
                flex: 1;
                position: relative;
            }
            > .text-wrapper {
                margin: 35px 0 0;

                .button-container {
                    margin: 0;
                }
            }

            > div:last-child {
                .button-container a {
                    border: none;
                    background: transparent;
                    margin: 0;
                    padding: 0;
                }
            }

            .accordion-wrapper:has(.open) {
                border-bottom: 2px solid var(--color-trex-green);
                padding: 35px 0 23px;
            }

            .block.accordion {
                > div:first-child {
                    // padding-top: 25px;
                    // margin-top: 58px;
                    // padding-bottom: 0;

                    p {
                        white-space: nowrap;
                        // text-transform: uppercase;
                        // font-size: 14px;
                        // letter-spacing: 1px;
                        font-weight: 400;
                        margin: 0;
                        position: relative;
                        justify-content: center;

                        &:after {
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid;
                            // position: absolute;
                            // right: -20px;
                            // top: 3px;
                            rotate: 0deg;
                            -webkit-transform: translateY(50%);
                            transform: translateY(50%);
                            background-image: unset;
                            width: unset;
                            height: 4px;
                            rotate: 360deg;
                            margin-left: 10px;
                            // transform: translateY(100%);
                        }
                    }
                }

                &.open {
                    > div:first-child {
                        p:after {
                            rotate: 180deg;
                            transform: translateY(0);
                        }
                    }
                }

                > div:nth-child(2) {
                    position: absolute;
                    // width: 100%;
                    background: white;
                    margin-top: 25px;
                    text-align: left;
                    padding: 32px 40px;
                    z-index: 999;
                    left: -20px;

                    .accordion-body {
                        margin: 0;
                        padding: 0;
                    }

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                    }

                    li {
                        white-space: nowrap;
                        margin-top: 16px;
                        padding-bottom: 4px;
                    }

                    a {
                        text-decoration: none;
                        color: #333;

                        &:hover,
                        &:focus {
                            text-decoration: underline;
                        }
                    }
                }
            }
            }
            } 


        }
    }
}
