@use "../../styles/breakpoints.scss" as *;
// sass blocks/accordion/accordion.scss blocks/accordion/accordion.css --no-source-map

.accordion-wrapper {
    .accordion {
        div:first-child > div p {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--color-trex-green);
            font-weight: 600;
            line-height: 1.33;
            cursor: pointer;

            &:after {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url('../../icons/icon-arrow-up.png') no-repeat center;
                background-size: contain;
                rotate: 180deg;
            }
        }

        &.open {
            div:first-child > div p {
                &:after {
                    content: '';
                    rotate: unset;
                }
            }
        }

        .accordion-body {
            display: none;
            font-size: 18px;
            margin-top: 8px;
            padding-left: 10px;
        }

        // Navigation Targt
        // > div:first-child {
        //     p {

        //     }
        // }
    }
}
