@use "../../styles/breakpoints.scss" as *;

.header-wrapper {
    background: var(--color-white-smoke);
    position: fixed;
    width: 100%;
    z-index: 99;
    height: 58px;
}

.block.header {

    nav {
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
        margin: auto;

    @media (width >= $breakpoint-md) {
        max-width: 720px;
    }

    @media (width >= $breakpoint-lg) {
        max-width: 960px;
    }

    @media (width >= $breakpoint-xl) {
        max-width: 1140px;
    }

    @media (width >= $breakpoint-xxl) {
        max-width: 1320px;
    }


        .nav-hamburger {
            width: 50px;

            @media (width >= $breakpoint-lg) {
                display: none;
                visibility: hidden;
            }
        }

        .nav-hamburger-icon {
            box-sizing: border-box;
            display: block;
            position: relative;
            width: 20px;

            &:before,
            &:after {
                content: '';
                position: absolute;
                background: currentcolor;
                box-sizing: border-box;
                display: block;
                position: relative;
                width: 20px; 
            }
        }

        .nav-brand {
            display: inline-flex;
            width: calc(100% - 150px);
            justify-content: center;
            align-items: center;
            height: 58px;

            .text-wrapper {
                white-space: nowrap;

                p {
                    margin: 0;
                    height: 34px;
                }

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 600;
                    background: transparent;
                    color: var(--color-trex-green);
                    margin: auto;
                    padding: 0.5em 1.2em;
                    line-height: 1.44;
                    border: none;
                    letter-spacing: 1px;
                }
            }

            .block.image-link {
                width: 136px;

                img {
                    width: 136px;
                    position: absolute;
                    top: 14px;
                }
                > div:nth-child(2) {
                    display: none;
                }
            }
        }

        .nav-sections {
            display: flex;
            width: 100px;

            .block.accordion {
                > div:first-child {
                    p {
                        white-space: nowrap;
                        text-transform: uppercase;
                        font-size: 14px;
                        letter-spacing: 1px;
                    }
                }
            }
        }

    }
}


// header nav .nav-hamburger-icon,
// header nav .nav-hamburger-icon::before,
// header nav .nav-hamburger-icon::after {
//   box-sizing: border-box;
//   display: block;
//   position: relative;
//   width: 20px;
// }

// header nav .nav-hamburger-icon::before,
// header nav .nav-hamburger-icon::after {
//   content: '';
//   position: absolute;
//   background: currentcolor;
// }

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}