.header-wrapper {
  background: var(--color-white-smoke);
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 58px;
}

.block.header nav {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  margin: auto;
  height: 58px;
}
@media (width >= 768px) {
  .block.header nav {
    max-width: 720px;
  }
}
@media (width >= 992px) {
  .block.header nav {
    max-width: 960px;
  }
}
@media (width >= 1200px) {
  .block.header nav {
    max-width: 1140px;
  }
}
@media (width >= 1400px) {
  .block.header nav {
    max-width: 1320px;
  }
}
.block.header nav .nav-hamburger-icon {
  cursor: pointer;
}
.block.header nav[aria-expanded=false] .nav-hamburger-icon:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../../icons/icon-hamburger.svg") no-repeat center;
  background-size: contain;
}
.block.header nav[aria-expanded=true] .nav-hamburger-icon:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../../icons/icon-close.svg") no-repeat center;
  background-size: contain;
}
.block.header nav .nav-hamburger {
  width: 50px;
  height: inherit;
}
@media (width >= 992px) {
  .block.header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}
.block.header nav .nav-hamburger button {
  background: transparent;
  color: #00493d;
  padding: 16px 10px 11px;
  margin: 0;
}
.block.header nav .nav-hamburger button:focus, .block.header nav .nav-hamburger button:hover {
  border: 1px solid transparent;
}
.block.header nav .nav-hamburger-icon {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}
.block.header nav .nav-hamburger-icon:before, .block.header nav .nav-hamburger-icon:after {
  content: "";
  position: absolute;
  background: currentcolor;
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}
.block.header nav .nav-brand {
  height: inherit;
  display: inline-flex;
  width: calc(100% - 100px);
  justify-content: center;
  align-items: center;
  height: inherit;
}
@media (width >= 992px) {
  .block.header nav .nav-brand {
    width: calc(100% - 200px);
    gap: 20px;
  }
}
.block.header nav .nav-brand .text-wrapper {
  white-space: nowrap;
  display: none;
}
@media (width >= 992px) {
  .block.header nav .nav-brand .text-wrapper {
    display: block;
  }
}
.block.header nav .nav-brand .text-wrapper p {
  margin: 0;
  height: 34px;
}
.block.header nav .nav-brand .text-wrapper a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  background: transparent;
  color: var(--color-trex-green);
  margin: auto;
  padding: 0.5em 1.2em;
  line-height: 1.44;
  border: none;
  letter-spacing: 1px;
}
.block.header nav .nav-brand .block.image-link {
  width: 85px;
}
@media (width >= 768px) {
  .block.header nav .nav-brand .block.image-link {
    width: 136px;
  }
}
.block.header nav .nav-brand .block.image-link a {
  width: 85px;
  position: absolute;
  background: transparent;
  top: 4px;
  left: auto;
  right: auto;
  border: none;
  margin: 0;
  padding: 0;
}
@media (width >= 768px) {
  .block.header nav .nav-brand .block.image-link a {
    width: 136px;
    top: 12px;
    left: unset;
  }
}
.block.header nav .nav-brand .block.image-link img {
  width: 85px;
}
@media (width >= 768px) {
  .block.header nav .nav-brand .block.image-link img {
    width: 136px;
  }
}
.block.header nav .nav-brand .block.image-link > div:nth-child(2) {
  display: none;
}
.block.header nav .nav-sections {
  height: inherit;
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: end;
}
@media (width >= 992px) {
  .block.header nav .nav-sections {
    width: 150px;
  }
}
.block.header nav .nav-sections > div:first-child {
  width: 150px;
  display: none;
}
@media (width >= 992px) {
  .block.header nav .nav-sections > div:first-child {
    display: block;
  }
}
.block.header nav .nav-sections > div:nth-child(2) {
  width: 50px;
}
.block.header nav .nav-sections > div:nth-child(2) img {
  width: 35px;
}
.block.header nav .nav-sections > div:nth-child(2) p {
  margin: 0;
  height: 24px;
}
.block.header nav .nav-sections > div:nth-child(2).text-wrapper a {
  border: none;
  background: transparent;
  display: revert;
  padding: 0;
}
.block.header nav .nav-sections .block.accordion > div:first-child p {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0;
  position: relative;
  justify-content: center;
}
.block.header nav .nav-sections .block.accordion > div:first-child p:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  position: absolute;
  right: 12px;
  top: -4px;
  rotate: 0deg;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  background-image: unset;
  width: unset;
  height: 4px;
  rotate: 360deg;
  transform: translateY(100%);
}
.block.header nav .nav-sections .block.accordion.open > div:first-child p:after {
  rotate: 180deg;
  top: 10px;
}
.block.header nav .nav-sections .block.accordion > div:nth-child(2) {
  position: absolute;
  padding: 0;
  width: 112px;
  text-align: center;
  margin-top: 20px;
}
.block.header nav .nav-sections .block.accordion > div:nth-child(2) ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #ecede8;
  border-top: 2px solid #00493d;
}
.block.header nav .nav-sections .block.accordion > div:nth-child(2) li {
  margin: 0 auto;
}
.block.header nav .nav-sections .block.accordion > div:nth-child(2) li:first-child {
  padding: 8px 0 4px;
}
.block.header nav .nav-sections .block.accordion > div:nth-child(2) li:nth-child(2) {
  padding: 4px 0 12px;
}
.block.header nav .nav-sections .block.accordion > div:nth-child(2) a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.block.header nav .nav-tools {
  display: inline-flex;
  justify-content: space-around;
}
