@use "../../styles/breakpoints.scss" as *;

.header-wrapper {
    background: var(--color-white-smoke);
    position: fixed;
    width: 100%;
    z-index: 99;
    height: 58px;
}

.block.header {

    nav {
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
        margin: auto;
        height: 58px;

    @media (width >= $breakpoint-md) {
        max-width: 720px;
    }

    @media (width >= $breakpoint-lg) {
        max-width: 960px;
    }

    @media (width >= $breakpoint-xl) {
        max-width: 1140px;
    }

    @media (width >= $breakpoint-xxl) {
        max-width: 1320px;
    }


        .nav-hamburger {
            width: 50px;
            height: inherit;

            @media (width >= $breakpoint-lg) {
                // display: none;
                // visibility: hidden;
            }
        }

        .nav-hamburger-icon {
            box-sizing: border-box;
            display: block;
            position: relative;
            width: 20px;

            &:before,
            &:after {
                content: '';
                position: absolute;
                background: currentcolor;
                box-sizing: border-box;
                display: block;
                position: relative;
                width: 20px; 
            }
        }

        .nav-brand {
            height: inherit;
            display: inline-flex;
            width: calc(100% - 200px);
            justify-content: center;
            align-items: center;
            height: inherit;
            gap: 20px;

            .text-wrapper {
                white-space: nowrap;

                p {
                    margin: 0;
                    height: 34px;
                }

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 600;
                    background: transparent;
                    color: var(--color-trex-green);
                    margin: auto;
                    padding: 0.5em 1.2em;
                    line-height: 1.44;
                    border: none;
                    letter-spacing: 1px;
                }
            }

            .block.image-link {
                width: 136px;

                img {
                    width: 136px;
                    position: absolute;
                    top: 14px;
                }
                > div:nth-child(2) {
                    display: none;
                }
            }
        }

        .nav-sections {
            height: inherit;
            display: flex;
            align-items: center;
            width: 150px;

            > div:first-child {
                width: 150px;
            }

            > div:nth-child(2) {
                width: 50px;
                img {
                    width: 35px;
                }

                p {
                    margin: 0;
                    height: 24px;
                }
                .text-wrapper {
                    a {
                        border: none;
                        background: transparent;
                        display: revert;
                        padding: 0;
                    }
                }
            }

            .block.accordion {
                > div:first-child {
                    p {
                        white-space: nowrap;
                        text-transform: uppercase;
                        font-size: 14px;
                        letter-spacing: 1px;
                        margin: 0;
                        position: relative;

                        &:after {
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid;
                            // content: "";
                            // margin-top: -3px;
                            position: absolute;
                            right: 36px;
                            top: -4px;
                            rotate: 0deg;
                            -webkit-transform: translateY(50%);
                            transform: translateY(50%);
                            background-image: unset;
                            width: unset;
                            height: 4px;
                            rotate: 360deg;
                            transform: translateY(100%);
                        }
                    }
                }

                &.open {
                    > div:first-child {
                        p:after {
                            rotate: 180deg;
                            top: 10px;
                        }
                    }
                }

                > div:nth-child(2) {
                    position: absolute;
                    padding: 0;
                    width: 112px;
                    text-align: center;
                    margin-top: 20px;

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        background: #ecede8;
                        border-top: 2px solid #00493d;

                    }

                    li {
                        margin: 0 auto;

                        &:first-child {
                            padding: 8px 0 4px;
                        }
                        &:nth-child(2) {
                            padding: 4px 0 12px;
                        }
                    }

                    a {
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 600;
                        text-decoration: none
                    }
                }
            }
        }

        .nav-tools {
            display: inline-flex;
            justify-content: space-around;
        }

    }
}


// header nav .nav-hamburger-icon,
// header nav .nav-hamburger-icon::before,
// header nav .nav-hamburger-icon::after {
//   box-sizing: border-box;
//   display: block;
//   position: relative;
//   width: 20px;
// }

// header nav .nav-hamburger-icon::before,
// header nav .nav-hamburger-icon::after {
//   content: '';
//   position: absolute;
//   background: currentcolor;
// }

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}