.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}
.hero-container .hero-wrapper .hero {
  display: flex;
  align-items: center;
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}
@media (width >= 900px) {
  .hero-container .hero-wrapper .hero {
    padding: 40px 32px;
  }
}
.hero-container .hero-wrapper .hero > div:last-child {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.hero-container .hero-wrapper .hero.hero-align--left {
  text-align: left;
}
.hero-container .hero-wrapper .hero.hero-align--center {
  text-align: center;
}
.hero-container .hero-wrapper .hero.hero-align--right {
  text-align: right;
}
.hero-container .hero-wrapper .hero h1, .hero-container .hero-wrapper .hero h2, .hero-container .hero-wrapper .hero h3, .hero-container .hero-wrapper .hero h4, .hero-container .hero-wrapper .hero h5, .hero-container .hero-wrapper .hero h6 {
  font-size: 48px;
  font-weight: 300;
  line-height: 58px;
  letter-spacing: 2px;
  color: var(--color-white);
}
.hero-container .hero-wrapper .hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}
.hero-container .hero-wrapper .hero picture:after {
  background: linear-gradient(180deg, transparent, var(--color-black) 52%, transparent);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.25;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.hero-container .hero-wrapper .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
