.hero-container .hero-wrapper {
    max-width: unset;
    padding: 0;

    .hero {
        display: flex;
        align-items: center;
        position: relative;
        padding: 40px 24px;
        min-height: 300px;

        //TODO - Add media queries for responsive design

        //sass blocks/hero/hero.scss blocks/hero/hero.css --no-source-map


        @media (width >= 900px) {
            padding: 40px 32px;
        }

        > div:last-child {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
        }

        &.hero-align {
            &--left {
                text-align: left;
            }
            &--center {
                text-align: center;
            }
            &--right {
                text-align: right;
            }
        }

        h1,h2,h3,h4,h5,h6 {
            font-size: 48px;
            font-weight: 300;
            line-height: 58px;
            letter-spacing: 2px;
            color: var(--color-white);
        }

        picture {
            position: absolute;
            z-index: -1;
            inset: 0;
            object-fit: cover;
            box-sizing: border-box;

            &:after {
                background: linear-gradient(180deg, transparent, var(--color-black) 52%, transparent);
                content: "";
                height: 100%;
                left: 0;
                opacity: .25;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
