@use "../../styles/breakpoints.scss" as *;
// sass blocks/text/text.scss blocks/text/text.css --no-source-map 

.text-wrapper {
    .text {
        &.font-size-21 {
            p,h1,h2,h3,h4,h5,h6 {
                font-size: 21px;
                line-height: 1.38;
                font-weight: 400;
            }
        }
    }
}