.text-wrapper .text.font-size-21 p, .text-wrapper .text.font-size-21 h1, .text-wrapper .text.font-size-21 h2, .text-wrapper .text.font-size-21 h3, .text-wrapper .text.font-size-21 h4, .text-wrapper .text.font-size-21 h5, .text-wrapper .text.font-size-21 h6 {
  font-size: 21px;
  line-height: 1.38;
  font-weight: 400;
}
.text-wrapper .text.after-divider::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-trex-green);
  margin: 12px 0;
}
