@use "../../styles/breakpoints.scss" as *;
// sass blocks/footer/footer.scss blocks/footer/footer.css --no-source-map

footer {
    background-color: #333;
    color: white;
    font-size: var(--body-font-size-xs);

    .footer.block {

        .cards-block-social-icons {
            > ul {
                display: flex;
                justify-content: center;
                gap: 14px;
            }

            .cards-card-image img {
                width: 24px;
            }
        }

        .section {
            &:not(:first-child) {
                // width: 33%;
                display: inline-flex;
                flex-direction: column;
                font-size: 12px;
                vertical-align: top;
            }

            &:nth-child(2) {
                width: calc(45% - 16px);
                margin-right: 16px;
            }
            &:nth-child(3) {
                width: calc(25% - 32px);
                margin-right: 16px;
                margin-left: 16px;

                .accordion.block {
                    background: white;
                    padding: 10px 15px;
                    margin-bottom: 12px;
                    position: relative;

                    > div:first-child {
                        p:after {
                            width: 14px;
                            height: 14px;
                            rotate: 360deg;
                        }
                    }

                    &.open {
                        > div:first-child {
                            p:after {
                                rotate: 180deg;
                            }
                        }
                        ul {
                            list-style: none;
                            padding: 0;
                            margin-bottom: 38px;
                        }

                        li {
                            display: flex;
                            padding: 10px 15px;
                        }

                        a {
                            width: 100%;
                            font-size: 14px;
                            text-decoration: none;
                            padding: 10px 15px;
                            transition: all 0.3s;

                            &:hover,
                            &:focus {
                                background-color: #bbb;
                            }

                            &[title="United States"] {
                                &:before {
                                    content: '';
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    background: url('../../icons/USFlag.svg') no-repeat center;
                                    background-size: contain;
                                }
                            }

                            &[title="United Kingdom"] {
                                &:before {
                                    content: '';
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    background: url('../../icons/UnitedKingdomFlag.svg') no-repeat center;
                                    background-size: contain;
                                }
                            }

                            &[title="Mexico"] {
                                &:before {
                                    content: '';
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    background: url('../../icons/MexicoFlag.svg') no-repeat center;
                                    background-size: contain;
                                }
                            }
                        }
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                    }

                    .accordion-body {
                        width: 100%;
                        background: white;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding: 0;
                        margin-bottom: 38px;
                    }
                }
            }
            &:nth-child(4) {
                width: calc(30% - 16px);
                margin-left: 16px;
            }
        } 

        > div {
            margin: auto;
            max-width: 1200px;
            padding: 40px 24px 24px;

            @media (width >= lg) {
                footer .footer > div {
                    padding: 40px 32px 24px;
                }
            }

            p {
                margin: 0;
            }
        }

        .block.columns {
            > div {
                align-items: start;

                .text {
                    border-top: 1px solid #797979;
                    padding-top: 24px;

                    p {
                        text-transform: uppercase;
                        font-size: 13px;
                        font-weight: 600;
                        letter-spacing: 0.8px;
                        margin-bottom: 22px;
                    }

                    ul {
                        list-style: none;
                        padding: 0;
                    }

                    li {
                        line-height: 1.43;
                        padding-bottom: 5px;
                    }
                }

                a {
                    color: white;
                    font-size: 14px;
                    text-decoration: none;
                }

            }
        }

        .columns-wrapper {
            &:not(:first-child) {
                > div {
                    .text {
                        font-size: 12px;
                        border-top: none;
                        padding-top: 0;
                        text-transform: unset;
                        letter-spacing: unset;
                        font-weight: unset;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}