footer {
  background-color: #333;
  color: white;
  font-size: var(--body-font-size-xs);
}
footer .footer.block .cards-block-social-icons > ul {
  display: flex;
  justify-content: center;
  gap: 14px;
}
footer .footer.block .cards-block-social-icons .cards-card-image img {
  width: 24px;
}
footer .footer.block .section:not(:first-child) {
  display: inline-flex;
  flex-direction: column;
  font-size: 12px;
  vertical-align: top;
}
footer .footer.block .section:nth-child(2) {
  width: calc(45% - 16px);
  margin-right: 16px;
}
footer .footer.block .section:nth-child(3) {
  width: calc(25% - 32px);
  margin-right: 16px;
  margin-left: 16px;
}
footer .footer.block .section:nth-child(3) .accordion.block {
  background: white;
  padding: 10px 15px;
  margin-bottom: 12px;
  position: relative;
}
footer .footer.block .section:nth-child(3) .accordion.block > div:first-child p:after {
  width: 14px;
  height: 14px;
  rotate: 360deg;
}
footer .footer.block .section:nth-child(3) .accordion.block.open > div:first-child p:after {
  rotate: 180deg;
}
footer .footer.block .section:nth-child(3) .accordion.block.open ul {
  list-style: none;
  padding: 0;
  margin-bottom: 38px;
}
footer .footer.block .section:nth-child(3) .accordion.block.open a {
  font-size: 14px;
  text-decoration: none;
}
footer .footer.block .section:nth-child(3) .accordion.block.open a[title="United States"]:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../../icons/USFlag.svg") no-repeat center;
  background-size: contain;
}
footer .footer.block .section:nth-child(3) .accordion.block p {
  font-size: 14px;
  font-weight: 400;
}
footer .footer.block .section:nth-child(3) .accordion.block .accordion-body {
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  margin-bottom: 38px;
}
footer .footer.block .section:nth-child(4) {
  width: calc(30% - 16px);
  margin-left: 16px;
}
footer .footer.block > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}
@media (width >= lg) {
  footer .footer.block > div footer .footer > div {
    padding: 40px 32px 24px;
  }
}
footer .footer.block > div p {
  margin: 0;
}
footer .footer.block .block.columns > div {
  align-items: start;
}
footer .footer.block .block.columns > div .text {
  border-top: 1px solid #797979;
  padding-top: 24px;
}
footer .footer.block .block.columns > div .text p {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-bottom: 22px;
}
footer .footer.block .block.columns > div .text ul {
  list-style: none;
  padding: 0;
}
footer .footer.block .block.columns > div .text li {
  line-height: 1.43;
  padding-bottom: 5px;
}
footer .footer.block .block.columns > div a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
footer .footer.block .columns-wrapper:not(:first-child) > div .text {
  font-size: 12px;
  border-top: none;
  padding-top: 0;
  text-transform: unset;
  letter-spacing: unset;
  font-weight: unset;
  margin-bottom: 0;
}
