@use "../../styles/breakpoints.scss" as *;

.section {
    // --------------------------------------------
    // Style - Padding
    // --------------------------------------------
    &.section-padding {
        &-none {
            padding: 0;
        }
        &-top-0 {
            padding-top: 0;
        }
        &-bottom-0 {
            padding-bottom: 0;
        }
    }

    // --------------------------------------------
    // Style - Alignment
    // --------------------------------------------
    &.section-align {
        &-left {
            text-align: left;
        }
        &-center {
            text-align: center;
        }
        &-right {
            text-align: right;
        }
    }
    // --------------------------------------------
    // Navigation
    // --------------------------------------------
    &.nav-sections {
        .accordion-wrapper {
            display: inline-flex;
        }
    }
}