.section.section-text-align-left {
  text-align: left;
}
.section.section-text-align-center {
  text-align: center;
}
.section.section-text-align-right {
  text-align: right;
}
.section.nav-section .accordion-wrapper {
  display: inline-flex;
}
