
:root {
  /* Color Palette */
  --color-white: #ffffff;
  --color-white-smoke: #f8f8f8;
  --color-smoke-white: #f5f8f6;
  --color-trex-white-smoke: #f6f6f6;
  --color-twilight-blue: #f5f6f1;
  --color-trex-natural: #f5f2ee;
  --color-trex-limestone: #f7f5f2;
  --color-trex-wheat-tint: #f9f3e0;
  --color-trex-almond: #ffedc9;
  --color-trex-soft-sand: #e4c9ab;
  --color-background--utility: #ecede8;
  --color-very-light-shed-green: #ecece8;
  --color-whisper: #ebebeb;
  --color-light-grey: #d9d9d9;
  --color-light-gray-3: #d5d5d5;
  --color-medium-gray: #d1d1d1;
  --color-light-gray-2: #cccccc;
  --color-light-shade-grey: #dddddd;
  --color-light-x11-grey: #bbbbbb;
  --color-trex-gray88: #e0e0e0;
  --color-silver: #bcbcbc;
  --color-medium-light-shed-gray: #999999;
  --color-grey: #b3b3b3;
  --color-trex-ford-grey: #979797;
  --color-trex-dim-grey: #6f6f6f;
  --color-trex-dove-grey: #727272;
  --color-trex-dark-grey: #555555;
  --color-trex-dark-charcoal: #333333;
  --color-dark-grey: #222222;
  --color-black: #000000;
  --color-trex-nero: #262626;
  --color-shadow-transparency-15: rgba(51, 51, 51, 0.15);
  --color-black-transparency-50: rgba(0, 0, 0, 0.5);
  --color-black-transparency-80: rgba(0, 0, 0, 0.8);
  --color-foreground: #726658;
  --color-trex-mocha: #6f4e37;
  --color-trex-driftwood-gray: #696158;
  --color-trex-smokey-quartz: #696258;
  --color-trex-warm-slate: #3d3935;
  --color-arsenic: #394854;
  --color-trex-rat-brown: #8f6000;
  --color-trex-dark-red: #ad2b26;
  --color-trex-red: #ff0000;
  --color-link-2: #85bf42;
  --color-light-green2: #bae99b;
  --color-accent-green: #8dc63f;
  --color-light-green: #badc8b;
  --color-light-shed-green: #8cc832;
  --color-medium-green: #479612;
  --color-trex-medium-green: #336f4a;
  --color-trex-heineken-green: #34704b;
  --color-dark-green: #1c3d29;
  --color-trex-green: #00493d;
  --color-dark-shade-darkgreen: #003f35;
  --color-trex-light-green: #d9e8ae;
  --color-trex-pastel-green: #dcedc5;
  --color-solar-flare: #d3fca0;
  --color-trex-other-green: #8cc43d;
  --color-trex-frost: #f3f9eb;
  --color-trex-sage-bush: #cbd8ce;
  --color-trex-bluebird: #47bcc1;

  /* Font Families */
  --font-proxima-nova: "proxima-nova", Arial, sans-serif;
  --font-utopia: "utopia-std", serif;
  --font-bitter: "Bitter", serif;

  /* Fonts Default */
  --body-font-family: var(--font-proxima-nova), roboto-fallback, sans-serif;
  --heading-font-family: var(--font-proxima-nova), roboto-condensed-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 45px;
  --heading-font-size-xl: 32px;
  --heading-font-size-l: 28px;
  --heading-font-size-m: 22px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* Nav Height */
  --nav-height: 64px;

  /* Trex Professionals Site */
  --color-trex-gray40: #666666;
  --color-trex-black: #111111;
  --color-trex-platinum: #e0e6e8;
  --color-trex-whisper: #eeeeee;

  /* Breakpoints */
  --tablet-min-width: 768px;
  --tablet-max-width: 991.5px;
  --mobile-max-width: 767.5px;
  --page-gutters: 7.2vw;
  --desktop-min-width: 1024px;
  --desktop-big-min-width: 1200px;
  --desktop-bigger-min-width: 1400px;
  --desktop-biggest-min-width: 1600px;

  /* Z-Index */
  --zindex-first: 999;
  --zindex-second: 998;
  --zindex-third: 997;
  --zindex-fourth: 996;
  --zindex-fifth: 995;
  --zindex-sixth: 994;
  --zindex-seventh: 993;
  --zindex-checkout-header: 9999;
  /* OneTrust Cookie Banner */
  --zindex-onetrust-banner: 2147483645;

  /* Animation Speed */
  --collapseble-animation-speed: 0.25s;
  --hero-expanding-hover-dur: 0.3s;
  --hero-expanding-hover-ease: cubic-bezier(0.440, 0.140, 0.530, 0.886);

  /* Spacing */
  --globalspacing-m: 24px;
  --globalspacing-xs: 8px;
  --globalspacing-s: 16px;
  --verticalspacingsections: 48px;
}

  @media (width >= 768px) {
  :root {
    /* Font Sizes */
    --body-font-size-m: 21px;
    --body-font-size-s: 19px;
    --body-font-size-xs: 17px;

    /* Heading Sizes */
    --heading-font-size-xxl: 55px;
    --heading-font-size-xl: 44px;
    --heading-font-size-l: 34px;
    --heading-font-size-m: 27px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}
